h1 {
text-align:center;
color:white;
font-family:roboto;
font-size:300%
}

#color {
		background-color:gray;	
}

body {
	background-image: url("../img/map.jpg");
}

.tl-timemarker-text .tl-headline {
	font-family : Arial !important;
	font-color: white;
}